@import "game/index.css";
@import "ui/index.css";

body {
    margin: auto;
    background-color: #ddd;
    color: #2d2d2d;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 100%;
    overflow: hidden;
}