.game-button {
    font: inherit;
    font-size: 0.6em;
    border-image-slice: 2;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' %3F%3E%3Csvg version='1.1' width='5' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z' fill='rgb(91, 32, 38)' /%3E%3C/svg%3E");
    border-image-outset: 2;
    position: relative;
    padding: 10px 10px;
    vertical-align: middle;
    color: #fff;
    background-color: #c95173;
    outline: none;
    cursor: pointer;
}

.game-button:hover,
.game-button:focus,
.game-button:active {
    background-color: #c1506c;
}

.game-button::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    box-shadow: inset -4px -4px #aa5055;
}

.game-button:hover::after,
.game-button:focus::after {
    box-shadow: inset -5px -5px #994d4d;
}

.game-button:active::after {
    box-shadow: inset 5px 5px #994d4d;
}