.game-elem-rabbit {
    position: absolute;
    bottom: 50px;
    left: 90%;
    width: 90px;
    height: 85px;
    background-size: cover;
    background-image: url('../assets/element-rabbit.gif');
    z-index: 0;
}
