@import "game__field.css";
@import "game__player.css";
@import "game__scores.css";
@import "game__keys.css";

.game {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}