.game__scores {
    display: flex;
    align-items: center;
    max-width: 1240px;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
    margin: auto;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(88, 88, 88, 0.5);
    color: #c3c3c3;
}

.game__scores--count {
    margin-left: 10px;
}