.game-player {
    position: absolute;
    bottom: 45px;
    left: 50%;
    width: 130px;
    height: 120px;
    background-size: cover;
    background-position: bottom;
    z-index: 1;
    transition: background 0.1s;
}

.game-player[state="stop"] {
    background-size: 110px 110px;
    background-image: url('../assets/player-stop.gif');
}

.game-player[state="run-right"] {
    background-image: url('../assets/player-run.gif');
}

.game-player[state="run-left"] {
    transform: scale(-1, 1);
    background-image: url('../assets/player-run.gif');
}


.game-player[state="jump"] {
    background-image: url('../assets/player-jump.gif');
}

.game-player[state="attack-1"] {
    background-image: url('../assets/player-attack-1.gif');
}

.game-player[state="attack-2"] {
    background-image: url('../assets/player-attack-2.gif');
}

.game-player[state="attack-3"] {
    background-image: url('../assets/player-attack-3.gif');
}

.game-player[state="attack-4"] {
    background-image: url('../assets/player-attack-4.gif');
}

.game-player[state="attack-5"] {
    background-image: url('../assets/player-attack-5.gif');
}

.game-player[state="attack-6"] {
    background-image: url('../assets/player-attack-6.gif');
}
